.transaction-card {
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .img {
        padding: 5px;
        padding-top: 8px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        border-radius: 10px;
      }

      .date {
        font-weight: 300;
        font-size: 12px;
      }
    }

    .right-side {
      display: flex;
    }
  }
}