:host {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 20px 20px 0 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
  }

  .transaction-header {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    color: white;
  }

  .transactions-wrapper {
    width: 100%;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
    .transactions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  }
}