<div class="container">
  <div class="header">
    Login
  </div>
  <div class="welcome-back">
    Welcome back,<br>
    please login<br>
    to your account.
  </div>
  <form class="form">
    <span class="p-float-label">
      <input type="text" id="email" pInputText/>
      <label for="email">Email</label>
    </span>
    <span class="p-float-label">
      <input type="password" id="password" pInputText/>
      <label for="password">Password</label>
    </span>
    <button pButton type="button" label="Submit" class="p-button-lg"></button>
  </form>
  <div class="footer">
    Don't have an account?&nbsp;<a [routerLink]="['/register']">Sign Up </a>
  </div>
</div>