<div class="container">
  <div class="add-new-transaction-btn">
    <p-button icon="pi pi-plus"></p-button>
  </div>
  <div class="transaction-header">
    Transactions
  </div>
  <div class="transactions-wrapper">
    <div class="transactions">
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
    </div>
  </div>
</div>